
.span_autores {
    margin-bottom: 80px;
}

.autores_header {
    font-weight: bold; 
    font-size: 20px; 
}

.autores_box {
	margin: 10px;
}


@media (min-width:124px) and (max-width:990px) {
    .autores_box{
       margin: 5px;
    }
}

