.btn-group{
	border-radius:0px;
}
.container-fluid {
  background-image: url(http://pixabay.com/static/uploads/photo/2013/01/19/15/58/boards-75462_640.jpg);
}
.gale img{
	padding-top: 30px;
	float:center;
	display:block;
	margin:0 auto 0 auto
}
.estrellitas {
	display:inline;
}
.img-responsive:hover,
.img-responsive:active {
  background-color: #63C3EA;
}