<style type="text/css">
body p {
	font-family: Verdana, Geneva, sans-serif;
}
</style>

<style type="text/css">

input{outline:none;border:0px;}
#busqueda{background:#ffffff;color:#000000;}
#cdr{padding:5px;background:#90D2E7;width:220px;border-radius:0px 0px 0px 0px;}
#tab{background:#ffffff;;border-radius:1px 1px 1px 1px;}
</style>