
html, body, div, iframe{padding:0; height:100%; width: 100%; margin-width:0; margin-height:0; }
body{
margin-right: 0px;
margin-left: 0px;
margin-bottom: 0px;
margin-top: 0px;
}
    iframe { display:block; width:100%; border:none;}
