<style type= "text/css">

.catalogo{
     margin:auto;
}

#row1{
     float:left;
}


#column2
 {
     float:left;
     width:20%;
     height:100%;
     margin-top:2%;

}
#column3
 {
     float:left;
     width:20%;
     height:100%;
     margin-top:2%;
}
#column4
 {
     float:left;
     width:20%;
     height:100%;
     margin-top:2%;
}
#column5
 {
     float:left;
     width:20%;
     height:100%;
     margin-top:2%;
}
#column6
 {
     float:left;
     width:20%;
     height:100%;
     margin-top:2%;
}


</style>
