#principal{  
  float:left; 
  position: relative;
  width: 60%; 
}
#lateral{ 
    float:left; 
    position: relative;
    width: 40%;
} 

h1{
   color: #3581F3;
}
    .imagenes img {
     display: block;
     margin: auto;
        }
